[Unit]
Description=Secure System Protocol
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/ruta/al/tu-script.sh
Restart=always
# Tu usuario > Pasarle parametros
User=tu-usuario
# Tu gurpo > Pasarle parametros
Group=tu-grupo

[Install]
WantedBy=default.target